<form>
  <div class="mb-3">
    <label for="countryId" class="form-label">Country Name</label>
    <select class="form-control" name="countryID" id="countryId" [(ngModel)]="countryId" *ngIf="city.id==0">
      <option *ngFor="let country of countryList$|async" [value]="country.id">{{country.countryName}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="cityName" class="form-label">City Name</label>
    <input type="text" class="form-control" [(ngModel)]="cityName" name="cityName">
  </div>
  <button (click)="addCity()" *ngIf="city.id==0" class="btn btn-primary">
    Add
  </button>
  <button (click)="updateCity()" *ngIf="city.id!=0" class="btn btn-primary">
    Update
  </button>
</form>
